
/* custom css */
@import url('https://fonts.font.im/css?family=Do+Hyeon');


body {
    font-family: 'Do Hyeon', sans-serif;
}

.VPFeatures .container {
    padding: 30px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.icon-brea {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.brea-a {
    color: var(--vp-c-green);
    border-bottom: 1px solid;
}